<h1><%= @project.title %></h1>

<%= link_to "Back", project_path(@project) %>

<h2>Discussion</h2>

<%= render "discussions/form" %>

<% if @project.discussions.any? %>
  <ul class="discussion-list">

    <% @project.discussions.each do |discuss| %>
    <li>
      <h4 class="title"><%= discuss.title %></h4>
      <p><%= discuss.description %></p>
      <div class="action">
        <%= link_to "Edit", edit_project_discussion_path(@project, discuss) %>

        <%= button_to "Delete", project_discussion_path(@project, discuss),
              method: :delete,
              data: {confirm: "Are you sure?"} %>
      </div>


      <%# render "discussions/discuss_comment", discuss: discuss %>
      <br>
      <div>
        <div id="comment-form">
          <%= render "discussions/comment_form", discuss: discuss %>
        </div>

        <% if discuss.comments.any? %>
          <ul id="comment-list">
            <% discuss.comments.order("created_at DESC").each do |comment| %>
              <%= render 'comments/comment', {discuss: discuss, comment: comment} %>
            <% end %>
          </ul>
        <% end %>
      </div>

    </li>
    <% end %>
  </ul>

<% end %>
