<table class="task-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Due Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>


  <% tasks.each do |task| %>

    <tr>
      <td><%= task.title %></td>
      <td><%= task.body %></td>
      <td><%= task.due_date.strftime("%B %d, %Y") %></td>
      <td>
        <%= task_done_button(project, task) %>

        <%= button_to "Delete", project_task_path(project, task),
        method: :delete,
        data: {confirm: "Are you sure?"} %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>
