<hr>
<h2>Tasks</h2>

<% if @task.errors.any? %>
<ul>
  <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for [@project, @task] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :due_date %>
    <%= f.text_field :due_date %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>


<% if @project.tasks.any? %>

  <% if @project.tasks.done(true).any? %>
  <h2>Done Tasks</h2>
    <%= render "projects/task_list", tasks: @project.tasks.done(true), project: @project %>
  <% end %>

  <h2>Undone Tasks</h2>
    <%= render "projects/task_list", tasks: @project.tasks.done(false), project: @project %>
<% end %>
