<ul class="task-list">
<% tasks.each do |task| %>

  <li>
    <h4><%= task.title %></h4>
    <div><%= task.body %></div>
    <div><strong>Due on: </strong><%= task.due_date.strftime("%B %d, %Y") %></div>
    <div>
      <%= task_done_button(project, task) %>

      <%= button_to "Delete", project_task_path(project, task),
      method: :delete,
      data: {confirm: "Are you sure?"} %>
    </div>
    </li>
<% end %>
</ul>
