<h1><%= @project.title %></h1>
<p><%= @project.description %></p>

<strong>(<%= @project.favorites.count %> Favorites)</strong>

<% favorite = @project.favorite_for current_user %>

<% if favorite%>
  <%= link_to "Un-Like", project_favorite_path(@project, favorite), method: :delete %>
<% else %>
  <%= link_to "Like", project_favorites_path(@project), method: :post %>
<% end %>

<p>
  <% if can? :manage, @project %>
    <%= link_to "Edit", edit_project_path(@project) %>

    <%= link_to "Delete",
                    project_path(@project),
                    method: :delete,
                    date: { confirm: "Are you sure?" } %>

  <% end %>
</p>

<p>
  <h4><%= link_to "Discussions", project_discussions_path(@project) %></h4>
</p>

<!-- Tasks -->
<hr>
<h2>Tasks</h2>
<div id="task-form">
  <%= render "tasks/form" %>
</div>

<% if @project.tasks.any? %>

  <% if @project.tasks.done(true).any? %>
  <h2>Done Tasks</h2>
    <%= render "projects/task_list", tasks: @project.tasks.done(true), project: @project %>
  <% end %>

  <h2>Undone Tasks</h2>
    <%= render "projects/task_list", tasks: @project.tasks.done(false), project: @project %>
<% end %>


<hr>
<p><%= link_to "Back to Projects", projects_path %></p>
