<h1><%= @project.title %></h1>
<p><%= @project.description %></p>

<p>
  <% if can? :manage, @project %>
    <%= link_to "Edit", edit_project_path(@project) %>

    <%= link_to "Delete",
                    project_path(@project),
                    method: :delete,
                    date: { confirm: "Are you sure?" } %>

  <% end %>
</p>

<p>
  <h4><%= link_to "Discussions", project_discussions_path(@project) %></h4>
</p>

<%= render "projects/task" %>

<hr>
<p><%= link_to "Back to Projects", projects_path %></p>
