<h1><%= @project.title %></h1>
<p><%= @project.description %></p>

<p>
  <%= link_to "Edit", edit_project_path(@project) %>
  <%= link_to "Delete",
                  project_path(@project),
                  method: :delete,
                  date: { confirm: "Are you sure?" } %>
</p>

<h2>Tasks</h2>

<% if @task.errors.any? %>
<ul>
  <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for [@project, @task] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :due_date %>
    <%= f.text_field :due_date %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<% if @project.tasks.any? %>
  <h2>Done Tasks</h2>
    <%= render "task_list", tasks: @project.tasks.done(true), project: @project %>
    <%# render "task_list", tasks: @project.tasks.status.done, project: @project %>

  <h2>Undone Tasks</h2>
    <%= render "task_list", tasks: @project.tasks.done(false), project: @project %>
    <%# render "task_list", tasks: @project.tasks.status.undone, project: @project %>
<% end %>

<hr>
<p><%= link_to "Back to projects", projects_path %></p>
