<!DOCTYPE html>
<html>
<head>
  <title>Pmtool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <%= link_to "Home", root_path %>
  <%= link_to "About", about_path%>
  <%= link_to "Projects", projects_path %>
  <% if user_signed_in? %>

    <!-- need to refactor this -->
    <%= link_to current_user.first_name, user_path(current_user) %>
    <%= link_to "Log out", sessions_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_session_path %>
    <%= link_to "Signup", new_user_path %>
  <% end %>
</div>

<%# link_to "Discussion", project_discussions_path(:id) if current_page?(controller: 'project', ) %>

<%= notice || alert %>
<%= yield %>

</body>
</html>
